.logo {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.MuiContainer-root {
  padding: 0px !important;
  margin: 0px !important;
}

.box-table {
  padding-top: 112px;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
}

.loader-container .loader {
  width: 120px;
  height: 120px;
  top: 412px;
  left: 620px;
  z-index: 100;
  position: absolute;
}

.MuiPagination-root {
  width: 240px !important;
  /* //     height: "40px",
//     left: "957px",
//     top: "880px", */
}

.MuiPaginationItem-root {
  margin: 0 !important;
  height: 40px !important;
  font-size: 12px !important;
}
.MuiTableFooter-root {
  position: absolute;
  width: 240px;
  height: 40px;
  left: 957px;
  top: 880px;
}

.MuiTableCell-root {
  font-family: Inter !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 12px !important;
  line-height: 12px !important;
}

.MuiTable-root {
  height: 100%;
}

.MuiBox-root-8 {
  padding-right: 243px !important;
}
.MuiTableCell-head {
  color: #4b5563;
}

.MuiButton-label {
  position: static !important;
  width: 34px !important;
  height: 13px !important;
  left: 12px !important;
  top: 4px !important;
}

.MuiDialog-paper {
  padding: 32px;
}
